.select-wrapper {
  position: relative;
}

.select {
  height: 32px;
  width: 200px;
  padding: 5px;
  background-color: var(--element-color);
  color: var(--font-color);
  border: unset;
  border-radius: 5px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  font-size: 20px;
  transform: translate(-5%, 10%)
}

.rotate {
  transform: rotate(180deg) translate(10%, 15%)
}

.options-wrapper {
  position: absolute;
  border-radius: 5px;
  top: 50px;
  width: 200px;
  padding: 5px;
  background-color: var(--element-color);
  box-shadow: var(--shadow);
  cursor: pointer
}

.option {
  text-align: left;
}

.option:hover {
  background-color: var(--background-color);
}