
.page {
  background-color: var(--background-color);
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}