.page {
  background-color: var(--background-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  justify-content: space-between;
}

.filters > * {
  margin-top: 20px
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 40px;
}
