.page {
  background-color: var(--background-color);
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-x: hidden;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  justify-content: space-between;
}

.filters > * {
  margin-top: 20px;
}

@media (max-width: 500px) {
  .filters {
    justify-content: center;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.card-flex {
  display: flex;
  justify-content: center;
}
