.input-container {
  flex: 1 1 210px;
  min-width: 210px;
  max-width: 300px;
  margin-right: 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: var(--shadow)
}

.input {
  width: calc(100% - 50px);
  border-radius: 5px;
  background-color: var(--element-color);
  color: var(--font-color);
  padding: 10px;
  height: 20px;
  border: unset;
  padding-left: 40px;
}

.search {
  fill: var(--font-color);
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
