.back-button {
  background-color: var(--element-color);
  color: var(--font-color);
  padding: 10px 20px;
  border: unset;
  border-radius: 5px;
  box-shadow: var(--shadow)
}

.detail-page {
  background-color: var(--background-color);
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner {
  display: flex;
}

.detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.flag-wrapper {
  flex: 1 1 calc(50% - 20px);
}

.detail-flag-img {
  width: 100%;
  box-shadow: var(--shadow);
}

.details {
  flex: 1 1 calc(50% - 20px);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-name {
  margin-top: unset;
}

.detail-specifics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

.detail-left, .detail-right {
  text-align: left;
}

.item {
  display: flex;
    flex-wrap: wrap;
    white-space: break-spaces;
}

.border-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.border-title {
  line-height: 40px;
  margin-right: 10px;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
}

.border-country {
  display: inline-block;
  background-color: var(--element-color);
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  box-shadow: var(--shadow)
}

@media (max-width: 350px) {
  .detail-container {
    display: flex;
    flex-direction: column;
  }

  .detail-specifics {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto auto;
    gap: 20px
  }

  .flag-wrapper {
    flex: 1 1 0;
  }

  .border-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .border-title {
    text-align: left;
    margin-bottom: 10px;
  }

  .border-countries {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }
}
