.card {
  width: 250px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: var(--font-color);
  background-color: var(--element-color);
  text-decoration: none;
}

.flag-img {
  width: 100%;
  height: 120px;
}

.card-info {
  padding: 20px;
  text-align: left;
}

.card-info > p {
  font-size: 12px;
}